#body{
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

th, td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid black;
}

tr:hover{
  background-color: black;
  color: white;
}

th{
  background-color: black;
  color: white;
}

#date #amount{
  margin-right: 10px;
}

button{
  margin-left: 10px;
}

.spentFilter{
  color: red;
}