p, h4{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h1{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

:root{
    --clr: green;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30%;
    background-color: #111;
    color: white;
}
.thunderbolt{
    display: flex;
}

.thunderbolt .shape4{
    position: relative;
    width: 25px;
    height: 60px;
    background: var(--clr);
    transform: skewX(-25deg) translate(-50%, -50%);
}

.thunderbolt .shape4::before{
    content: '';
    position: absolute;
    bottom: -50px;
    right: -20px;
    width: 0;
    height: 0;
    border-top: 60px solid var(--clr);
    border-right: 30px solid transparent;
}

button{
    margin: 10px;
}