// $threads-font-path: "~plaid-threads/fonts";
// @import "~plaid-threads/scss/typography";
// @import "~plaid-threads/scss/variables";

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

th{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid black;
  background-color: white;
  color: black;
}
tr:hover{
  background-color: white;
  color: black;
}

td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid white;
}

button{
  background-color: black;
  color: white;
  padding: 20px;
  border-color: white;
}

button:hover{
  background-color: white;
  color: black;
  border-color: black;
}