// $threads-font-path: "~plaid-threads/fonts";
// @import "~plaid-threads/scss/typography";
// @import "~plaid-threads/scss/variables";

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

th, td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid white;
}
tr:hover{
  background-color: white;
  color: black;
}