.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .barChart {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .pieChart {
    margin-bottom: 30px;
  }
  